@(tasks: List[Task], taskForm: Form[String])

@import helper._
@import helper.twitterBootstrap._

@main("Todo list") {
<div class="row">
<div class="span6">
  <h1>@tasks.size task(s)</h1>

  <ul class="nav nav-tabs nav-stacked">
    @tasks.map { task =>
      <li>
        @form(routes.Application.deleteTask(task.id), 'class -> "inline") {
          <input class="btn btn-small pull-right nav-btn-adjust" type="submit" value="Delete">
        }
        <a href="#">@task.label</a>
      </li>
    }
  </ul>
</div>
<div class="span6">
  <div class="well">
    <h2>Add a new task</h2>
    @form(routes.Application.newTask) {
      @inputText(taskForm("label"), '_label -> "Task Text")
      <input class="btn btn-primary" type="submit" value="Create">
    }
  </div>
</div>
</div>
}
